<mat-toolbar color="primary" class="navbar">
    <div>Smoothie Landia</div>
    <div>
        <span [ngClass] = "logged && role === 'USER'? '': 'hidden'">
            <a mat-button href="/order">
                <mat-icon>shopping_cart</mat-icon>
                Orders
            </a>
        </span>
        <span [ngClass] = "logged? '': 'hidden'">
            <a mat-button href="/smoothies">
                <mat-icon>local_bar</mat-icon>
                Smoothies
            </a>
        </span>
        <span [ngClass] = "logged? '': 'hidden'">
            Login: {{login}}
        </span>
        <span [ngClass] = "logged? '': 'hidden'">
            <button mat-button color="warn" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </span>
    </div>
</mat-toolbar>
