mat-card {
    width: 80%;
    margin-top: 5rem;
    margin-left: 10%;
    min-height: 70%;

    mat-card-content{
        display: flex;
        justify-content: flex-start;   

        
        .smoothies-container{
            width: 50%;
            padding-right: 1rem;

        }
        .order-container{
            width: 50%;
            border: 1px solid #FFFF;
            border-radius: 4px;
            padding: 1rem;

            .save-btn-container{
                width: 100%;
                display: flex;
                justify-content: flex-end;   
            }
        }
    }

    table {
        width: 80%;
    }

    .hidden {
        visibility: hidden;
    }
}