<mat-card>
    <mat-card-header>Order</mat-card-header>
    <mat-card-content>
        <div class="smoothies-container">
            <h2>Smoothies</h2>
            <table mat-table [dataSource]="smoothieData">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let smoothie">
                        <h2>{{smoothie.name}}</h2>
                        <p><i>{{smoothie.description}}</i></p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let smoothie"> {{smoothie.price}} {{smoothie.currency}}</td>
                </ng-container>
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef ></th>
                    <td mat-cell *matCellDef="let smoothie" class="actions">
                        <button mat-button color="accent" (click)="addSmoothie(smoothie)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="smoothieDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: smoothieDisplayedColumns;"></tr>
            </table>
        </div>
        <div class="order-container">
            <h2>Order</h2>
            <p>Total Price: {{order.totalPrice}} {{currency}}</p>
            <table mat-table [dataSource]="itemsData">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let item">{{item.smoothie.name}}</td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let item"> {{item.quantity}}</td>
                </ng-container>
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef ></th>
                    <td mat-cell *matCellDef="let smoothie" class="actions">
                        <button mat-button color="accent" (click)="increaseQuantity(smoothie)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-button color="warn" (click)="decreaseQuantity(smoothie)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="itemsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: itemsDisplayedColumns;"></tr>
            </table>
            <div class="save-btn-container">
                <button mat-button color="accent" (click)="onSave()" [ngClass] = "anyToSave? '': 'hidden'">
                    <mat-icon>check</mat-icon>
                    Save
                </button>
            </div>
            
        </div>


    </mat-card-content>
</mat-card>