<mat-card>
    <mat-card-header>Order summary</mat-card-header>
    <mat-card-content>
        <h2>Total Price: {{order.totalPrice}} {{currency}}</h2>
        <table mat-table [dataSource]="itemsData">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let item">{{item.smoothie.name}}</td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let item"> {{item.quantity}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="itemsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: itemsDisplayedColumns;"></tr>
        </table>


    </mat-card-content>
</mat-card>