<mat-sidenav-container>
    <mat-sidenav mode="push" [(opened)]="opened">Menu</mat-sidenav>
    <mat-sidenav-content>
        <button (click)="toogleMenu()" mat-icon-button *ngIf="!opened">
            <mat-icon>more_vert</mat-icon>
        </button>
        reszta contentu
    </mat-sidenav-content>
</mat-sidenav-container>
