mat-sidenav-container{
    height: 90%;   

    mat-sidenav, mat-sidenav-content {
        padding: 16px;
    }
    mat-sidenav {
        background-color: #7b1fa2;
        width: 100px;
    }
    mat-sidenav-content{
        height: 100%;
    }

    .mat-draver-backdrop.mat-drawer-shown{
        background-color: #424242;
    }
}