<mat-card>
    <mat-card-header>Login</mat-card-header>
    <mat-card-content>

        <form [formGroup]="loginForm">
            <mat-grid-list cols="1" rowHeight="4rem">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input matInput formControlName="login">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="warn" (click)="onRegister()">
                        <mat-icon>settings_accessibility</mat-icon>
                        Register
                    </button>
                    <button mat-button color="accent" (click)="onLogin()">
                        <mat-icon>login</mat-icon>
                        Login
                    </button>
                </mat-grid-tile>
            </mat-grid-list>

        </form>
    </mat-card-content>
</mat-card>