<h2 mat-dialog-title>New Smoothie</h2>


<form [formGroup]="smoothieForm">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Portion Size</mat-label>
                    <input type="number" matInput formControlName="portionSize">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-form-field>
                    <mat-label>price</mat-label>
                    <input type="number" matInput formControlName="price" min="0" step="0.01">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>currency</mat-label>
                    <input matInput formControlName="currency">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>calories</mat-label>
                    <input type="number" matInput formControlName="calories">
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>

<form [formGroup]="nutritionForm">
    <h2>Nutritions</h2>
    <table class='nutrition-table'>
        <tr>
            <th>Name</th>
            <th>Mass</th>
            <th>Percentage</th>
            <th></th>
        </tr>
        <tr *ngFor="let nut of nutritions">
            <td>{{nut.name}}</td>
            <td>{{nut.masss}}</td>
            <td>{{nut.percentage}}</td>
            <td>
                <button mat-button color="warn" (click)="removeNutrition(nut)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="!newNutritionProcess">
            <td colspan="4" *ngIf="!newNutritionProcess">
                <button mat-button color="accent" (click)="newNutrition()">
                    <mat-icon>add_circle_outline</mat-icon>
                    Add smoothie
                </button>
            </td>
        </tr>
        <tr *ngIf="newNutritionProcess">
            <td class="data">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select matInput formControlName="nutName">
                      <mat-option *ngFor="let type of nutritionTypes" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </td>
            <td class="data">
                <mat-form-field>
                    <mat-label>Mass</mat-label>
                    <input type="number" matInput formControlName="nutMass">
                </mat-form-field>
            </td>
            <td class="data">
                <mat-form-field>
                    <mat-label>Percentage</mat-label>
                    <input type="number" matInput formControlName="nutPercentage">
                </mat-form-field>
            </td>
            <td>
                <button mat-button color="accent" (click)="onAddNutrition()">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</form>

<mat-dialog-actions>
    <button mat-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon>
        Cancel
    </button>
    <button mat-button color="accent" (click)="onSave()">
        <mat-icon>check</mat-icon>
        Save
    </button>
</mat-dialog-actions>