<mat-card>
    <mat-card-header>Registration</mat-card-header>
    <mat-card-content>

        <form [formGroup]="registerForm">
            <mat-grid-list cols="1" rowHeight="4rem">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input matInput formControlName="login">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                <mat-button-toggle-group aria-label="User Role" formControlName="userRole">
                    <mat-button-toggle value="USER">User</mat-button-toggle>
                    <mat-button-toggle value="BUSINESS_OWNER">Business Owner</mat-button-toggle>
                  </mat-button-toggle-group>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" (click)="onRegister()">
                        <mat-icon>login</mat-icon>
                        Register
                    </button>
                </mat-grid-tile>
            </mat-grid-list>

        </form>
    </mat-card-content>
</mat-card>