mat-card {
    width: 80%;
    margin-top: 5rem;
    margin-left: 10%;
    min-height: 70%;

    .btn-container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;   
    }

    .data{
        border: 1px solid #FFFF;
        border-radius: 4px;
        padding: 1rem;
        width: 85%;
        vertical-align: top;
        label {
            font-size: 0.8rem;
            font-weight: bolder;
            margin-right: 1rem;
        }
        span{
            font-size: 1.5rem;
        }
    }

    table {
        width: 80%;
        margin-left: 10%;
    }
    .data-table{
        margin-left: 3rem;
    }
}