<mat-card *ngIf="smoothie">
    <mat-card-header>{{smoothie.name}}</mat-card-header>
    <mat-card-content>
        <div class="btn-container">
            <button mat-button color="accent" (click)="backToSmoothieList()">
                <mat-icon>arrow_back</mat-icon>
                Back to smoothie list
            </button>
            <button mat-button color="accent" *ngId="canEdit" (click)="editSmoothie()">
                <mat-icon>edit</mat-icon>
                Edit smoothie
            </button>
        </div>


        <mat-grid-list cols="2" rowHeight="10rem">
            <mat-grid-tile>
                <div class="data">
                    <p>
                        <label>Name:</label>
                        <span>{{smoothie.name}}</span>
                    </p>
                    <p>
                        <label>Description:</label>
                        <span>{{smoothie.description}}</span>
                    </p>

                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="data">
                    <p>
                        <label>Price:</label>
                        <span>{{smoothie.price}} {{smoothie.currency}}</span>
                    </p>
                    <p>
                        <label>Portion Size:</label>
                        <span>{{smoothie.portionSize}} g</span>
                    </p>
                    <p>
                        <label>Calories:</label>
                        <span>{{smoothie.calories}} Kcal</span>
                    </p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

            <h2>Nutritions</h2>
            <table mat-table [dataSource]="nutritionData">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let nutrition">{{nutrition.name}}</td>
                </ng-container>
                <ng-container matColumnDef="masss">
                    <th mat-header-cell *matHeaderCellDef>Mass</th>
                    <td mat-cell *matCellDef="let nutrition">{{nutrition.masss | number : '1.2-2'}} g</td>
                </ng-container>
                <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef>Percentage</th>
                    <td mat-cell *matCellDef="let nutrition">{{nutrition.percentage | number : '1.2-2'}} %</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
    </mat-card-content>

</mat-card>