mat-card {
    width: 80%;
    margin-top: 5rem;
    margin-left: 10%;
    min-height: 70%;

    .add-smoothie-btn {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button {
            position: relative;
            right: 3rem;
        }
    }

    table {
        width: 80%;
        margin-left: 10%;
    
        .actions{
            width: 200px;
    
            
        }
    
    }
}

