<mat-card>
    <mat-card-header>Smoothies</mat-card-header>
    <mat-card-content>
        <div class="add-smoothie-btn" *ngIf="canEdit">
            <button mat-button color="accent" (click)="openNewSmoothieDialog()">
                <mat-icon>add_circle_outline</mat-icon>
                Add smoothie
            </button>
        </div>
        
        <table mat-table [dataSource]="smoothieData">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let smoothie">
                    <h2>{{smoothie.name}}</h2>
                    <p><i>{{smoothie.description}}</i></p>
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let smoothie"> {{smoothie.price}} {{smoothie.currency}}</td>
            </ng-container>
            <ng-container matColumnDef="actions" >
                <th mat-header-cell *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let smoothie" class="actions">
                    <button mat-button (click)="showDetails(smoothie.id)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-button color="accent" *ngIf="canEdit" (click)="edit(smoothie.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button color="warn" *ngIf="canEdit" (click)="delete(smoothie.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>